.skillTitle h2::after{
  content: '';
  border-radius: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 93.5%;
  height: 2px;
  background: linear-gradient(90deg, #FB8500, #d62828);
}
